  <footer>
    <p>World Cup 2026 Explorer &mdash; CMSC335 Final Project &mdash; Data provided by <a href="https://www.football-data.org/" style="color:#4a7ab5;">football-data.org</a></p>
  </footer>
</body>
</html>
